@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Use este espaço para descrever sua aplicação.</p>
</div>

<!-- Adicionar a View parcial -->
<partial name="_LoginPartial" />
